/* label {
    display: block;
    margin: 5px 0;
     font-size: 14px;
  } */
  .icons{
    font-size: 25px;
    padding:2px;
    color: rgb(131, 131, 131);
  }
  .body  div:first-child{
    margin-top: 25px;
  }
  .body  div{
    margin: 10px 0;
  }
  .body  div:last-child{
    margin: 0;
  }
  .login-index {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    background-color: #e72955;
  }
  .login {
  
    width: 400px;
    background-color: #fff;
  }
  .login .title {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  .login .body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login .body input {
    padding: 10px 0 10px 10px;
    width: 308px;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    color: #333;
    border: none;
    outline: none;
    border: 1px solid #cccccc;
  }
  .login .body .login-btn{
      margin-top: 20px;
      display: flex;
      justify-content:center;
      width: 100%;
  }
  .login .body button {
    padding: 6px 0;
    width: 90%;
    text-align: center;
    background: #e4393c;
    color: #fff;
    font-size: 20px;
    border: 1px solid transparent;
    outline: none;
  }
  .login  .options{
      margin: 5px 0;
      display: flex;
      justify-content:flex-end;
      margin: 10px 10px 10px 0;
  }
  .login  .options a+a{
      margin: 0 10px;
  }